.button-to-top
	.progress-circle
		span.progress-circle__text.hidden
		img.hidden.toTopArrow.backTop.js-back-to-top(src="/images/ArrowToTop.svg" alt="Вверх")

		svg.progress-bar(width="150px" height="150px" viewbox="0 0 200 200")
			circle.progress(cx="100" cy="100" r="90" style="stroke-dasharray: 565.487, 565.487; stroke-dashoffset: 565.487;")
		//- <svg class="progress-bar" width="150px" height="150px" viewBox="0 0 200 200">
		//-     <circle class="progress" cx="100" cy="100" r="90" style="stroke-dasharray: 565.487, 565.487; stroke-dashoffset: 565.487;"></circle>
		//- </svg>