.home {
	padding: 80px 20px;

	&__picture {
		display: block;
		margin: 0 auto 40px;
		max-width: 500px;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}

		&--2 {
			margin-top: 40px;
			margin-bottom: 0;
		}
	}

	&__text {
		margin: 0 auto;
		max-width: 500px;
		font-size: 20px;
		line-height: 26px;

		a {
			text-decoration: underline;

			@include hover {
				text-decoration: none;
			}
		}

		code {
			padding: 5px;
			background-color: $color-gray;
		}
	}

	// Section "About"

	#about {
		display: grid;
		grid-template: min(150px);
		grid-template-areas:
			"logo empty"
			"desc contacts";
		grid-template-columns: 3fr 1fr;

		.description {
			max-width: 675px;
		}

		@include mobile {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;
		}
	}

	.comunication {
		display: flex;
		flex-grow: 1;
		justify-content: center;

		.mail,
		.tel,
		address {
			display: block;
			margin-bottom: 10px;
			line-height: 20px;
			color: $color-black;
		}

		@include mobile {
			justify-content: flex-start;
			margin-top: 20px;
		}
	}

	.social {
		display: flex;
		margin-top: 15px;

		a.social-link {
			&:not(:first-child) {
				margin-left: 20px;
			}
		}

		svg {
			width: 25px;
			height: 25px;
		}
	}

	// Section "Experience"

	#experience {
		.job-list {
			@include mobile {
				margin-bottom: 40px;
			}
		}

		.job-item {
			&:not(:last-child) {
				margin-bottom: 60px;
			}

			.links a {
				display: block;
				text-decoration: underline;
			}
		}

		.date {
			margin-bottom: 8px;
			line-height: 17px;
			color: $color-gray;
		}

		.job-head {
			margin-bottom: 8px;

			.title {
				margin-bottom: 8px;
				font-weight: 700;
				line-height: 17px;
			}

			.icon {
				margin-left: 8px;
			}
		}

		.company {
			display: flex;
			margin-bottom: 8px;

			.logo {
				display: flex;
				align-items: center;

				img {
					margin-right: 8px;
				}
			}

			.name,
			.description {
				line-height: 17px;
			}
		}

		.description {
			margin-bottom: 4px;
			line-height: 20px;
		}

		.links {
			line-height: 17px;

			a:not(:last-child) {
				margin-bottom: 3px;
			}
		}
	}

	.fling-guy-box {
		display: flex;
		justify-content: center;

		.guy {
			@include mobile {
				margin-bottom: 40px;
			}
		}
	}

	// Section "Education"

	#education {
		h2 {
			margin-bottom: 16px;
		}

		.places-item {
			.icon {
				height: 30px;
			}
		}
	}

	// Section "Skills"

	section#skills {
		margin-bottom: 40px;
	}

	.arms {
		margin-bottom: 40px;
	}

	@include desktop {
		padding: 100px 20px;
	}

	@include mobile {
		padding: 20px;
	}
}
