.home {
	&__picture {
		display: block;
		margin: 0 auto 40px;
		max-width: 500px;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}

		&--2 {
			margin-top: 40px;
			margin-bottom: 0;
		}
	}

	&__text {
		margin: 0 auto;
		max-width: 500px;
		font-size: 20px;
		line-height: 26px;

		a {
			text-decoration: underline;

			@include hover {
				text-decoration: none;
			}
		}

		code {
			padding: 5px;
			background-color: $color-gray;
		}
	}

	.topper-desktop-wave {
		position: absolute;
		right: 23%;
		top: 0;
		z-index: 0;

		@include mobile {
			display: none;
		}
	}

	// Section "About"

	#about {
		position: relative;
		display: grid;
		grid-template: min(150px);
		grid-template-areas:
			"logo empty"
			"desc contacts";
		grid-template-columns: 3fr 1fr;
		margin: 0 150px 180px;
		padding-top: 100px;

		.logo-wrap {
			position: relative;
			margin-bottom: 15px;
			height: 150px;

			.logo {
				height: 100%;
			}

			picture {
				height: 100%;
			}

			picture img {
				height: 100%;
			}

			@include mobile {
				margin-bottom: 10px;
				height: 80px;
			}
		}

		h1 {
			margin-top: 0.7em;
			font-weight: 700;

			@include mobile {
				font-size: 28px;
				line-height: 39px;
			}

			@include desktop {
				margin-bottom: 0.8em;
				font-size: 2.57rem;
				line-height: 140%;
			}
		}

		.description {
			max-width: 40em;
			line-height: 20px;
			opacity: 0;
			transform: translateY(200px);

			@include mobile {
				max-width: 675px;
			}
		}

		address {
			font-style: normal;
		}

		.comunication {
			display: flex;
			flex-grow: 1;
			justify-content: center;

			.mail,
			.tel,
			address {
				display: block;
				margin-bottom: 10px;
				line-height: 20px;
				color: $color-black;
			}

			@include mobile {
				justify-content: flex-start;
				margin-top: 20px;
			}

			@include desktop {
				justify-content: flex-start;
			}
		}

		.contacts {
			opacity: 0;
			transform: translateX(100px);

			@include desktop {
				margin: 1.75em 0 0 7.8em;
			}
		}

		.social {
			display: flex;
			margin-top: 15px;

			.social-link {
				cursor: pointer;

				&:not(:first-child) {
					margin-left: 20px;
				}

				&:hover {
					opacity: 0.4;
				}
			}

			svg {
				width: 25px;
				height: 25px;
			}
		}

		.top-wave-separator {
			display: none;

			@include mobile {
				position: absolute;
				left: 0;
				bottom: -68px;
				z-index: 0;
				display: block;
				width: 100%;
				height: 24%;
			}
		}

		.central-wave-separator {
			position: absolute;
			left: -5px;
			bottom: -51%;
			width: 100%;
			height: 69%;
			max-width: 1140px;

			@include mobile {
				display: none;
			}
		}

		@include mobile {
			z-index: 5;
			display: flex;
			flex-direction: column;
			margin: 0 0 21px;
			padding: 0 1.43rem;
		}

		@include tablet {
			margin: 0 80px 180px;
		}

		@include desktop {
			grid-template-columns: 2fr 1fr;
		}
	}

	.experience {
		display: flex;
		margin: 0 150px 188px;

		@include mobile {
			flex-direction: column;
			margin: 0 20px;
		}

		@include tablet {
			margin: 0 80px 180px;
		}
	}

	// Section "Work Places"

	#work-places {
		width: 560px;

		.work-places-content {
			@include showToTop(200, 1.1, 0, "is-inview");
		}

		h2 {
			margin-bottom: 30px;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;

			@include mobile {
				margin-bottom: 17px;
				font-size: 20px;
			}
		}

		.job-list {
			@include mobile {
				margin-bottom: 40px;
			}
		}

		.job-item {
			&:not(:last-child) {
				margin-bottom: 60px;

				@include mobile {
					margin-bottom: 59px;
				}
			}
		}

		.date {
			margin-bottom: 8px;
			line-height: 17px;
			color: $color-gray;
		}

		.job-head {
			margin-bottom: 8px;

			.title {
				display: inline-block;
				min-width: 100px;
				font-weight: 700;
				line-height: 17px;

				@include mobile {
					min-width: 109px;
				}
			}

			.icon {
				margin-left: 8px;
			}
		}

		.company {
			display: flex;
			margin-bottom: 8px;

			// max-height: 30px;

			img {
				margin-right: 8px;
				width: 30px;
				height: 30px;
			}

			.info {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-start;
			}

			.name,
			.description {
				line-height: 17px;
			}

			.name {
				margin-right: 8px;
				font-weight: 700;
			}

			.description {
				margin-bottom: 0;
			}
		}

		/* !!! First description in design has line-height: 17px!!! */
		.description {
			margin-bottom: 2px;
			line-height: 20px;

			@include mobile {
				margin-bottom: 4px;
			}
		}

		.job-item:nth-child(1) .description {
			line-height: 17px;
		}

		.links {
			line-height: 17px;

			a {
				display: inline-block;
				border-bottom: 1px solid;
				line-height: 17px;
				text-decoration: none;
			}

			/* !!! В мобильной версии подчёркивание имеет только одна ссылка!!! */
			div:not(:last-child) a {
				margin-bottom: 2px;

				// border-bottom: 1px solid;
			}
		}

		@include mobile {
			// padding: 0 1.43rem;
			width: 100%;
		}
	}

	.fling-guy-box {
		@include showToTop(200, 1.1, 0.5, "is-inview");

		position: relative;
		display: flex;
		justify-content: center;
		width: 310px;

		.guy-wrap {
			position: absolute;
			top: 0;
			padding-top: 20px;
			height: 70%;

			@include mobile {
				position: relative;
				padding-top: 0;
			}
		}

		.guy {
			position: sticky;
			top: 0;
			bottom: 0;
			z-index: 3;
			display: inline-block;
			margin-left: calc(161% - 170%);
			width: 161%;
			height: auto;
			max-width: 500px;

			@include mobile {
				position: relative;
				margin-bottom: 23px;
				width: 200px;
				min-height: 200px;
			}
		}

		// width: 19%;

		@include mobile {
			padding: 0 1.43rem;
			width: 100%;
		}
	}

	// Section "Education"

	#education {
		@include showToTop(200, 1.1, 1, "is-inview");

		position: relative;
		width: 270px;

		h2 {
			margin-bottom: 32px;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			text-align: center;

			@include mobile {
				margin-bottom: 16px;
				font-size: 20px;
				line-height: 24px;
				text-align: left;
			}
		}

		.places-list {
			display: grid;
			grid-column-gap: 21px;
			grid-template-columns: 1fr;
			padding: 0 39.5px;

			@include mobile {
				grid-template-columns: 1fr 1fr;
				padding: 0;
			}
		}

		.places-item {
			margin-bottom: 30px;
			padding: 0 20px;
			text-align: center;

			.icon {
				height: 42px;
			}

			.title {
				font-weight: 700;
			}

			.title,
			.description {
				line-height: 19.8px;
			}

			.icon,
			.title,
			.description p:not(:last-child) {
				margin-bottom: 5px;
			}

			@include mobile {
				margin-bottom: 20px;
				padding: 0;
			}
		}

		.bottom-wave-separator {
			display: none;

			@include mobile {
				position: absolute;
				left: 0;
				bottom: -92px;
				z-index: 0;
				display: block;
				width: 100%;
				height: 20%;
			}
		}

		@include mobile {
			overflow: hidden;
			margin-bottom: 1px;
			width: 100%;
		}
	}

	// Section "Skills"

	section#skills {
		position: relative;
		margin: 0 150px 180px;

		.skills-content {
			@include showToTop(150, 1, 0, "is-inview");
		}

		.bottom-desktop-wave-separator {
			position: absolute;
			left: 0;
			bottom: -24px;
			display: block;
			width: 100%;
			height: 252%;
			max-width: 1140px;

			@include mobile {
				display: none;
			}
		}

		h2 {
			margin-bottom: 30px;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;

			@include mobile {
				margin-bottom: 20px;
				font-size: 22px;
				line-height: 26px;
			}
		}

		.skills-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include mobile {
				flex-direction: column;
			}
		}

		.skills-item {
			margin-bottom: 20px;
			width: 270px;

			@include mobile {
				width: 100%;
			}
		}

		.title {
			margin-bottom: 6px;
			font-weight: 700;
			line-height: 17px;
		}

		.description {
			line-height: 20px;
		}

		@include mobile {
			margin: 0 20px 20px;
		}

		@include tablet {
			margin: 0 80px 100px;
		}
	}

	.arm-wrap {
		display: flex;

		.arms-picture {
			margin: 0 auto 50px;
			min-height: 288px;

			// @include showToTop(200, 1, 0, "is-inview");

			@include mobile {
				margin: 0 auto 50px;
				margin-bottom: 40px;
				min-height: 288px;
			}
		}
	}

	@include mobile {
		padding: 1.43rem 0 0;
	}
}