.hidden-box
	.share-box
		.share
			div
				span.share-head
					span.name Андрей2
					| ,<br>
					span.position Front-end разработчик

				p.description Как разработчик, я высоко ценю способность воплотить видение
					| дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю
					| огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно
					| когда она появляется в руках пользователя. Я считаю, что ориентированные
					| на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.

			img.share-picture(src="/images/shareGuy.png" alt="Share Guy")