-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#profile',
					name: 'Резюме'
				},
				{
					url: '#aboutme',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};

-
	const homepage = {
		experience: [
			{
				date: 'Июль 2019',
				title: 'Freelance Designer',
				icon: {
					url: '/images/experience/three-squares.png',
					alt: 'Three squares'
				},
				company: {
					logo: '',
					name: '',
					description: 'Netherlands, Worldwide'
				},
				description: 'Available for a project or job in UX/UI, Visual and Product design.',
				links: [
					{
						text: 'Commercial tryouts',
						url: '#'
					},
					{
						text: 'Personal projects',
						url: '#'
					}
				]
			},
			{
				date: 'Январь 2017 - Сентябрь 2018',
				title: 'Digital Designer',
				icon: {
					url: '/images/experience/two-squares.png',
					alt: 'Two squares'
				},
				company: {
					logo: '/images/experience/logo-jcs.svg',
					name: 'J Creative Solutions',
					description: 'Digital agency in Minsk, Belarus'
				},
				description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentationsfor clients and indoor purposes.',
				links: [
					{
						text: 'Agency projects',
						url: '#'
					}
				]
			},
			{
				date: 'Март 2014 - Февраль 2017',
				title: 'SEO Specialist → Lead SEO Specialist',
				icon: '',
				company: {
					logo: '/images/experience/Oz-logo.svg',
					name: 'OZ.by',
					description: 'Online bookstore in Minsk, Belarus'
				},
				description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,<br>I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
				links: [
					{
						text: 'Annual company report 2016',
						url: '#'
					}
				]
			},
			{
				date: 'Август 2012 - Ноябрь 2013',
				title: 'Content Specialist',
				icon: '',
				company: {
					logo: '/images/experience/21vek-logo.svg',
					name: '21vek.by',
					description: 'E-commerce store in Minsk, Belarus'
				},
				description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
				links: [
					{
						text: '',
						url: ''
					}
				]
			},
			{
				date: 'Август 2012 - Ноябрь 2013',
				title: 'Software Support Engineer',
				icon: {
					url: '/images/experience/one-square.png',
					alt: 'One square'
				},
				company: {
					logo: '/images/experience/Integral-logo.svg',
					name: 'Integral',
					description: 'Microelectronics factory in Minsk, Belarus'
				},
				description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
				links: [
					{
						text: '',
						url: ''
					}
				]
			}
		],
		education: [
			{
				icon: 'education-6',
				title: 'Interface Design: Web & Mobile',
				description: 'IT-Academy, 2020'
			},
			{
				icon: 'education-5',
				title: 'Fundamentals of Usability',
				description: 'Skillshare, Oct 2018'
			},
			{
				icon: 'education-4',
				title: 'CG Artist',
				description: 'Polygon CG School,<br>May-Sep 2017'
			},
			{
				icon: 'education-3',
				title: 'Graphic Design',
				description: 'Belarusian State Academy of Arts,<br>2015 - 2017 Postgraduate Diploma'
			},
			{
				icon: 'education-2',
				title: 'SEO Specialist',
				description: 'ARTOX Media,<br>Jun-Aug 2012'
			},
			{
				icon: 'education-1',
				title: 'Information Technology Software',
				description: 'Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s degree<br>Polotsk State Economic College, 2007 - 2011Associate’s degree'
			}
		],
		skills: [
			{
				title: 'Adobe Creative Suite',
				description: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			},
			{
				title: 'Prototyping',
				description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			},
			{
				title: 'Additional',
				description: 'HTML, CSS, Google Analytics, Keynote, Miro'
			},
			{
				title: 'Languages',
				description: 'Conversational English and Native Russian'
			}
		]
	}