-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#profile',
					name: 'Резюме'
				},
				{
					url: '#aboutme',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};

-
	const homepage = {
		worklist: [
			{
				date: 'Июль 2019',
				title: 'Freelance Designer',
				companyName: 'Netherlands, Worldwide',
				companyDesc: '',
				description: 'Available for a project or job in UX/UI, Visual and Product design.',
				links: [
					{
						text: 'Commercial tryouts',
						url: '#'
					},
					{
						text: 'Personal projects',
						url: '#'
					}
				]
			},
			{
				date: 'Январь 2017 - Сентябрь 2018',
				title: 'Digital Designer',
				companyName: 'J Creative Solutions',
				companyDesc: 'Digital agency in Minsk, Belarus',
				description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentationsfor clients and indoor purposes.',
				links: [
					{
						text: 'Agency projects',
						url: '#'
					}
				]
			},
			{
				date: 'Март 2014 - Февраль 2017',
				title: 'SEO Specialist → Lead SEO Specialist',
				companyName: 'OZ.by',
				companyDesc: 'Online bookstore in Minsk, Belarus',
				description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,<br>I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
				links: [
					{
						text: 'Annual company report 2016',
						url: '#'
					}
				]
			},
			{
				date: 'Август 2012 - Ноябрь 2013',
				title: 'Content Specialist',
				companyName: '21vek.by',
				companyDesc: 'E-commerce store in Minsk, Belarus',
				description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
				links: [
					{
						text: '',
						url: ''
					}
				]
			},
			{
				date: 'Август 2012 - Ноябрь 2013',
				title: 'Software Support Engineer',
				companyName: 'Integral',
				companyDesc: 'Microelectronics factory in Minsk, Belarus',
				description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
				links: [
					{
						text: '',
						url: ''
					}
				]
			}
		]}