extends pug/base

prepend vars
	-
		var title = 'Andrey'

append vars
	//-

block content
	include pug/data

	.site
		include pug/pages/home

	//- include pug/components/footer

	//- include pug/components/analytics

	include pug/elements/toTopButton